form {
    display: flex !important;
    flex-direction: column;
}


.texto-modificar {
    margin-bottom: 3rem;
    text-align: center;
}

.lista-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
}


.campo-resultado ul {
    list-style-type: none;
}
.campo-resultado ul li {
    margin-bottom: 1rem;
    font-size: large;
}
.campo-resultado ul li span {
    font-weight: bold;
}

.titulo-producto {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.lista-producto li span
{

}

body > div > div > div > button > a {
    all: unset;
}

.volver {
    display: flex;
    justify-content: center;
}