form {
    display: flex !important;
    flex-direction: column;
    margin: 0 0 !important;
}


.texto-modificar {
    margin-bottom: 3rem;
    text-align: center;
}

.lista-producto {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}


.campo-resultado ul {
    list-style-type: none;
}
.campo-resultado ul li {
    margin-bottom: 1rem;
    font-size: large;
}
.campo-resultado ul li span {
    font-weight: bold;
}

.titulo-producto {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

body > div > div > div > button > a {
    all: unset;
}

.volver {
    display: flex;
    justify-content: center;
}

body > div > div > div > form > div > button > a {
    all: unset;
    color: red;
}
body > div > div > div > div > button > a {
    all: unset;
}

body > div > div > ul > li > span {
    text-align: right;
}


