html {
  overflow-y: hidden;
}
.container {
  color: white;
  width: 50%;
  margin: 0 auto;
  margin-top: 5rem;

  align-items: center;
  display: flex;
  flex-direction: column;

  padding: 5rem 5rem;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* clases de ayuda para esconder el formulario */
.hidden {
  display: none;
}
.transparent {
  background-color: transparent;
  box-shadow: none;
}

form {
  width: 60%;
}

.container .campo input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.container .resultado {
  position: absolute;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultado a {
  display: flex;
  justify-content: center;
}

.resultado a button {
  width: 100%;
}

.succes-title {
  margin-right: 1rem;
}

.succes-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 8rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.succes-btn:hover {
  background-color: #0069d9;
}

.error {
    color: red;
    font-size: large;
}